 /* Author- Tejasvi Raj Pant */

* {
    box-sizing: border-box
}

.quizContainer {
	padding-right: .75rem;
	padding-left: .75rem;
	margin-right: auto;
	margin-left: auto
}

@media (min-width:576px) {
    .quizContainer {
		max-width: 540px
	}
}

@media (min-width:992px) {
    .quizContainer {
		max-width: 960px
	}
}

@media (min-width:768px) {
	.quizContainer {
		max-width: 720px
	}
}

@media (min-width:1200px) {
	.quizContainer {
		max-width: 1140px
	}
}