.submit {
margin: 10;
cursor: pointer;
background-color: #4B4B71;
border-radius: 20px;
width: 180px;
height: 45px;
font-family: Roboto;
color: white;
font-size: 25px;
}

.skipBackBtns {
    align-self: center;
    display: flex;
    justify-content: center;
}
.skipBackBtns button {
    width: 11rem;
    margin-left: 0.5rem;

}

.quizBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    text-align: center;
    
}
/* 
@media (min-height:650px) {
    .quizBox 
        {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);	
    }
} */

.quizBox > * {
    margin-top: .6rem;
}

.score {
    font-size: 1.5rem;
    margin-bottom: 0;
}



