 /* Author- Tejasvi Raj Pant */

.quizBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    text-align: center;
    
}
/* 
@media (min-height:650px) {
    .quizBox 
        {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);	
    }
} */

.quizBox > * {
    margin-top: .6rem;
}

.quizCaptionHeading {
    font-size: 1.5rem;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    margin-bottom: 0rem;
}

.quizCaptionSH {
    font-style: italic;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #6c757d;
    margin-top: 0rem;
}

.submit {
    margin: 10;
    cursor: pointer;
    background-color: #4B4B71;
    border-radius: 20px;
    width: 180px;
    height: 45px;
    font-family: Roboto;
    color: white;
    font-size: 25px;
    }